@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
}

@layer components {
  .nav-link {
    @apply flex gap-2 py-2 font-bold border-b-2 border-b-slate-900
           text-white/70 transition-all;
  }

  .nav-link:hover,
  .nav-link.active {
    @apply text-white border-b-[#0d8cd7];
  }
}