@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
}

@layer components {
  .nav-link {
    @apply flex gap-2 py-2 font-bold border-b-2 border-b-slate-900
           text-white/70 transition-all;
  }

  .nav-link:hover,
  .nav-link.active {
    @apply text-white border-b-[#0d8cd7];
  }
}

.ProseMirror {
  outline: none;
}

.ProseMirror h1 {
  font-size: 2.2rem;
  font-weight: 800;
}

.ProseMirror h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.ProseMirror h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

.ProseMirror blockquote {
  border-left: 4px solid #d4d4d8;
  padding-left: 1rem;
  color: #71717a;
  margin: 1rem 0;
}

.ProseMirror pre {
  background: #18181b;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  overflow-x: auto;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.ProseMirror li {
  margin: 0.25rem 0;
}