@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .layout-grid {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "sidebar main main";
    height: 100dvh;
    /* Ocupa toda a altura da tela */
  } 
  .area-header {
    grid-area: header;
  }

  .area-sidebar {
    grid-area: sidebar;
  }

  .area-main {
    grid-area: main;
  }

  .area-footer {
    grid-area: footer;
  }

  @media (max-width: 1024px) {
    .layout-grid {
      grid-template-areas:
        "header header header"
        "main main main"
        "main main main";
    }

  }
}